[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true
	ui = auto
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	# commit
	# context
	# func
	# plain
	# whitespace
[color "status"]
	added = green
	changed = red
	untracked = cyan
	# branch
	# header
	# localBranch
	# noBranch
	# remoteBranch
	# unmerged
	# untracked
	# updated
[color "branch"]
	upstream = yellow
	local = red
	remote = blue
	current = green
	plain = magenta
	# reset = blue
[color "interactive"]
	error = red
	header = yellow
	help = white
	plain = magenta
	prompt = blue
	# reset = blue
[color "decorate"]
	HEAD = yellow
	branch = yellow
	grafted = blue
	remoteBranch = yellow
	stash = bold red
	tag = bold magenta
[core]
	editor = vim
	pager = less -RFX
	whitespace = trailing-space,space-before-tab
	autocrlf = input
[push]
	default = tracking
[merge]
	tool = vimdiff
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
	mnemonicprefix = true
	renames = copies
	conflictstyle = diff3
[alias]
	a = add
	aa = add --all
	alias =  !"git_alias() { git config --get-regexp alias | grep -i --color $1; }; git_alias"
	ap = add -p
	au = add -u
	bi = bisect run # <my_script> <arguments>
	br = branch
	branchName = rev-parse --abbrev-ref HEAD
	bs = branch -vv
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	ci = commit
	cla = clean -xdf # clean all untracked files
	cm = commit -m
	co = checkout
	coh = checkout HEAD
	com = checkout main
	cop = checkout -p
	cp = cherry-pick
	cs = commit -s
	d = diff
	day = !"git lg --since=\"24 hours ago\" --author=\"(git config user.name)\""
	dc = diff --cached
	dcw = dc --word-diff
	deliverBranch = "!deliver_branch() { git merge --squash origin/$1; }; deliver_branch"
	ds = diff --stat
	dt = difftool
	dw = diff --word-diff
	f = fetch
	fa = fetch --all
	fb = !"git featureBranch"
	featureBranch = "!feature_branch() { git checkout -b $1 origin/$(git branchName); }; feature_branch"
	filelog = log -u
	files = diff-tree --no-commit-id --name-only -r
	fl = !"git filelog"
	head = rev-parse HEAD
	la = "!git config -l | grep alias | cut -c 7-"
	showHistory = log --graph --oneline --decorate
	lg = !"git lgAllRemote"
	lgAllRemote = !"git lgColorFormat --decorate --graph --all --remotes"
	lgColorFormat = log --format=format:"%C(red)%h\\ %C(yellow)%d%C(reset)%s%C(blue)[%an]%C(green)(%ai)%C(reset)"
	lgGraphAll = !"git lgColorFormat --graph --abbrev-commit --decorate --all"
	lgGraph = !"git lgColorFormat --decorate --graph"
	lgNoMerges = !"git lgColorFormat --no-merges"
	lg8 = !"git lgColorFormat --graph --abbrev-commit --decorate main {origin/team_name/,}$(git branchName)"
	lgGraphAbbrevCommit = !"git lgColorFormat --graph --abbrev-commit --decorate"
	lgBranchName = !"git lgGraphAbbrevCommit $(git branchName)"
	ll = !"git lgColorFormat --graph --decorate --numstat --all"
	ll2 = !"git lgColorFormat --graph --decorate --numstat"
	ls = diff-tree --no-commit-id --name-only -r HEAD
	mt = mergetool
	nb = !"git newBranch"
	newBranch = "!new_branch() { git checkout -b $1 origin/team_name/$1; }; new_branch"
	ours = checkout --ours --
	pl = pull
	plb = pull --no-ff origin main
	pr = pull --rebase
	prb = pull --rebase origin main
	ps = push
	psd = !"git push origin HEAD:refs/drafts/$(git branchName)"
	psdf = !"git push origin HEAD:refs/drafts/team_name/$(git branchName)"
	psf = !"git push origin HEAD:refs/for/$(git branchName)"
	psff = !"git push origin HEAD:refs/for/team_name/$(git branchName)"
	undo = checkout HEAD~1 --
	r = rebase
	rc = rebase --continue
	restore = checkout -m --
	rh = "!reset_hard_function() { git reset HEAD~$1 --hard; }; reset_hard_function"
	root = rev-parse --show-toplevel
	rs = "!reset_function() { git reset HEAD~$1; }; reset_function"
	s = status
	search = !"git lg1 --abbrev-commit --decorate --all -S"
	sh = show
	shs = show --stat
	sl = stash list
	sp = stash pop
	squash = rebase -i origin/master
	ss = status -s
	st = stash
	sts = stash show -p
	sw = show --word-diff
	t = tag
	theirs = checkout --theirs --
	uplift = merge --no-ff origin/main
	zip = archive --format=zip HEAD
	zip-latest = archive -o latest.zip HEAD
