[color]
  ui = auto
[core]
  editor = vim
  pager = less -R
	whitespace = trailing-space,space-before-tab
[push]
	default = tracking
[merge]
  tool = vimdiff
  conflictsyle = diff3
  prompt = false
[diff]
	renames = copies
	mnemonicprefix = true
[alias]
  a = add
  br = branch
  c = commit
  ci = commit
  co = checkout
  d = diff
  dw = diff --word-diff
  f = fetch
  filelog = log -u
  files = diff-tree --no-commit-id --name-only -r
  fl = log -u
  lg = !"git lg1"
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(red)%h %C(yellow)%d%C(reset)%s%C(blue)[%an]%C(green)(%ar)%C(reset)' --all
  lg2 = log --decorate --graph --pretty=format:"%C(Yellow)%h%C(red)%d\\ %C(reset)%s\\ %C(blue)[%cn]"
  ll = log --graph --decorate --numstat --pretty=format:"%C(red)%h%C(yellow)%d\\ %C(reset)%s\\ %C(blue)[%cn]%C(green)(%ar)"
  mt = mergetool
  pl = pull
  ps = push
  s = status
  undo = reset --soft HEAD~1
  dt = difftool -y
[user]
  name = eseblag
  email = sebastian.lagerman@ericsson.com
[diff]
  tool = meld
